<?xml version="1.0"?>
<!--
/**
*
* CART2QUOTE CONFIDENTIAL
* __________________
*
*  [2009] - [2016] Cart2Quote B.V.
*  All Rights Reserved.
*
* NOTICE OF LICENSE
*
* All information contained herein is, and remains
* the property of Cart2Quote B.V. and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Cart2Quote B.V.
* and its suppliers and may be covered by European and Foreign Patents,
* patents in process, and are protected by trade secret or copyright law.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Cart2Quote B.V.
*
* @category    Cart2Quote
* @package     Fakepro
* @copyright   Copyright (c) 2016 Cart2Quote B.V. (https://www.cart2quote.com)
* @license     https://www.cart2quote.com/ordering-licenses(https://www.cart2quote.com)
*/
-->
<config>
    <modules>
        <Ophirah_Fakepro>
            <version>1.1.0</version>
        </Ophirah_Fakepro>
    </modules>
    <global>
        <models>
            <fakepro>
                <class>Ophirah_Fakepro_Model</class>
            </fakepro>
        </models>
        <helpers>
            <fakepro>
                <class>Ophirah_Fakepro_Helper</class>
            </fakepro>
        </helpers>
        <blocks>
            <fakepro>
                <class>Ophirah_Fakepro_Block</class>
            </fakepro>
        </blocks>
        <events>
            <fakepro_adminhtml_after_add>
                <observers>
                    <fakepro_convert_observer>
                        <type>singleton</type>
                        <class>fakepro/observer</class>
                        <method>convertFakeProductOnCreationObserver</method>
                    </fakepro_convert_observer>
                </observers>
            </fakepro_adminhtml_after_add>
            <qquoteadv_qqadvcustomer_before_convert>
                <observers>
                    <fakepro_convert_observer>
                        <type>singleton</type>
                        <class>fakepro/observer</class>
                        <method>convertFakeProductObserver</method>
                    </fakepro_convert_observer>
                </observers>
            </qquoteadv_qqadvcustomer_before_convert>
            <ophirah_qquoteadv_viewconfirm_before>
                <observers>
                    <fakepro_convert_observer>
                        <type>singleton</type>
                        <class>fakepro/observer</class>
                        <method>convertFakeProductFrontendObserver</method>
                    </fakepro_convert_observer>
                </observers>
            </ophirah_qquoteadv_viewconfirm_before>
            <adminhtml_sales_order_create_process_data_before>
                <observers>
                    <fakepro_convert_observer>
                        <type>singleton</type>
                        <class>fakepro/observer</class>
                        <method>createFakeProductObserver</method>
                    </fakepro_convert_observer>
                    <fakepro_license_observer>
                        <type>singleton</type>
                        <class>fakepro/observer</class>
                        <method>licensecheckFakeProduct</method>
                    </fakepro_license_observer>
                </observers>
            </adminhtml_sales_order_create_process_data_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <ophirah_fakepro>
                    <file>fakepro.xml</file>
                </ophirah_fakepro>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <ophirah_fakepro>
                    <file>fakepro.xml</file>
                </ophirah_fakepro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fakepro before="Mage_Adminhtml">Ophirah_Fakepro_Adminhtml</fakepro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
